.img1 {
    margin-top: 40px;   
    margin-bottom: 50px;    
}



.bg-mahta {
    background-image: url("assets/img/IMG_0455.png");
    background-repeat:no-repeat;
    background-color: #323232;
    background-position: center;
    background-size: 800px 456px;
} 

.port-margin{
	margin-left: 40px;
	margin-right: 40px;
}
.text-margin{
	margin-right: 30px;
}

.fsize{
    font-size: 16px;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 0px;
  padding-bottom: 20px;

}
.blog-title {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

@media (min-width: 1200px) {
  .b-header {
    margin-left: 40px;
  }
}

@media (min-width: 1200px) {
  .about-margin {
    margin-left: 60px;
  }
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
